main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    gap: 0.2em;
}

#searchbox {
    padding: 4px;
}

#searchform {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

#from {
    font-size: large;
}

#to {
    font-size: large;
}

#submit {
    font-size: large;
}

#map {
    text-align: center;
}